* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Banner */
.banner {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

.bannerContent {
    padding-top: 220px;
}

.banner h1 {
    font-size: 60px;
    color: #fff;
}

.banner p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
}

.commonButton{
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    background-color: rgb(0, 189, 120);
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 9PX;
}