* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/***************************
            Banner
****************************/
.banner {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
}

.bannerContent {
    padding-top: 220px;
}

.banner h1 {
    font-size: 60px;
    color: #fff;
}

.banner p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
}

.commonButton{
    text-decoration: none;
    padding: 15px 30px;
    color: #fff;
    background-color: rgb(0, 189, 120);
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 9PX;
    cursor: pointer;
}

/***************************
        Donate Today
****************************/

.donateToday{
    text-align: center;
    padding: 80px 50px;
}

.donateToday h1{
    font-size: 50px;
}

.donateToday p{
    margin: 0 auto;
    max-width: 900px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 15px 0;
}

.donationAmount{
    width: 1100px;
    margin: 0 auto;
    display: flex;
}

.amount{
    width: 20%;
    margin: 20px;
    padding: 30px 25px;
    background-color: rgb(237, 237, 237);
    font-size: 25px;
    font-weight: 700;
}

#specialAmount{
    background-color: rgba(0, 189, 120, 0.175);
    color: rgb(0, 189, 120);
}

.donateToday input{
    margin: 30px 0;
    padding: 5px 200px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 2px solid rgb(195, 195, 195);
}

.donateToday button{
    border: none;
}

/***************************
    Our Donate Plan
****************************/
.ourDonatePlan{
    text-align: center;
    padding: 80px 50px;
}

.ourDonatePlan h1{
    font-size: 50px;
}

.ourDonatePlan p{
    color: rgb(132, 132, 132);
    margin: 0 auto;
    max-width: 900px;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 15px 0;
}

.donationPlans{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    text-align: left;
}

.plan{
    width: 33.33%;
    padding: 40px 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.plan img{
    margin-bottom: 20px;
}

#plan1{
    background-color: rgb(227, 249, 255);
}

#plan2{
    background-color: rgb(255, 235, 194);
}

#plan3{
    background-color: rgb(255, 223, 249);
}

